﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Index.aspx.cs" Inherits="Presentation.Index" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Label ID="Label1" runat="server" Text="Ingrese el valor del traje"></asp:Label>
            <asp:TextBox ID="TblvalueSuits" runat="server"></asp:TextBox><br />
            <asp:Button ID="BtnCalulate" runat="server" Text="Calcular" OnClick="BtnCalulate_Click" /><br />
            <asp:Label ID="Label2" runat="server" Text="Total sin descuento: "></asp:Label>
            <asp:Label ID="LblMsj1" runat="server" Text=""></asp:Label><br />
            <asp:Label ID="Label3" runat="server" Text="Total a pagar: "></asp:Label>
            <asp:Label ID="LblMsj2" runat="server" Text=""></asp:Label>



        </div>
    </form>
</body>
</html>
